<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <h1>AGENDA DE CONTACTOS</h1>
    <table id="tabla">
        <tr>                     <!--crea la fila vertical-->
            <th>Nombre</th>         <!--crea las columas horizontal-->
            <th>Telefono</th>       <!--th se usa para encabezados la pone en negrita-->
        </tr>
        
            {% for item in agenda_con %}
                <tr>
                    <td> {{item[0]}} </td>
                    <td> {{item[1]}} </td>
                </tr>
            {% endfor %}
        
        <form action="/agregar" method="post">
            <input type="text" placeholder="Nombre" id="Nom" name="Nom">
            <input type="text" placeholder="Telefono" id="Tel" name="Tel">
            <button>Agregar</button>
        </form>
    </table>
</body>
</html>